<%- include("parts/header") %>
<% var category = category || [] %> 



<div class="content m-4 p-4  " style="padding:80px 0px;">
  <div class="container">
<h2 class="text-center text-light">
<%=  category.name %>
</h2>




<%- include("parts/footer") %>